{% extends "layout.html" %} {% block contenu %}
<script src="/static/js/script.js"></script>
<div>
    <h1>Écrire un nouvel article</h1>
    <h3>Laissez courir votre inspiration tout en étant moins fantasque car il vous faut remplir tous les champs.</h3>
    <div class="form-new-article">
        {% if not erreur or not values %}
        <form action="/envoyer" method="post">
            <label for="idu"> Id unique : </label>
            <br/>
            <input type="text" name="idu" placeholder="Ex : 69696" />
            <br/>
            <label for="titre"> Titre : </label>
            <br/>
            <input onchange="onTitleChange();" type="text" name="titre" id="titre" placeholder="Ex : Le codeur : chevalier volant" />
            <br/>
            <label for="identifiant"> Identifiant : </label>
            <br/>
            <input type="text" name="identifiant" id="identifiant" placeholder="codeur-chevalier-volant" />
            <br/>
            <label for="auteur"> Auteur : </label>
            <br/>
            <input type="text" name="auteur" placeholder="Jean Bon" />
            <br/>
            <label for="date"> Date de publication : </label>
            <br/>
            <input type="text" name="date" placeholder="2017-01-01" />
            <br/>
            <label for="paragraphe"> Paragraphe : </label>
            <br/>
            <textarea rows="10" name="paragraphe" placeholder="Il était un temps..">
            </textarea>
            <br/>
            <input class="btn" type="submit" value="Soumettre" />
        </form>
        {% endif %}

        {% if erreur and values %}
        {% set erreurs = erreur.split('; ') %}
        {% for erreur in erreurs %}
        <p class="erreur" style="color:red;">{{ erreur }}</p>
        {% endfor %}
        <form action="/envoyer" method="post">
            <label for="idu"> Id unique : </label>
            <br/>
            <input type="text" name="idu" placeholder="Ex : 69696" value="{{values[0]}}" />
            <br/>
            <label for="titre"> Titre : </label>
            <br/>
            <input type="text" name="titre" id="titre" placeholder="Ex : Le codeur : chevalier volant" onchange="onTitleChange();" value="{{values[1]}}"  />
            <br/>
            <label for="identifiant"> Identifiant : </label>
            <br/>
            <input type="text" name="identifiant" id="identifiant" placeholder="codeur-chevalier-volant" value="{{values[2]}}" />
            <br/>
            <label for="auteur"> Auteur : </label>
            <br/>
            <input type="text" name="auteur" placeholder="Jean Bon" value="{{values[3]}}"  />
            <br/>
            <label for="date"> Date de publication : </label>
            <br/>
            <input type="text" name="date" placeholder="2017-01-01" value="{{values[4]}}" />
            <br/>
            <label for="paragraphe"> Paragraphe : </label>
            <br/>
            <textarea rows="10" name="paragraphe" placeholder="Il était un temps.." value="{{values[5]}}" >
            </textarea>
            <br/>
            <input class="btn" type="submit" value="Soumettre" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
